* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #323639;
}

main {
    width: 80%;
    margin: 0 auto;
}
section{
    margin-bottom:50px;
}

h3 {
    color: #323639;
    font-size: 25px;
    font-weight: 700;
}

/* -------------------
----Start-navation---*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 60px;
}

nav>.manu-ber>ul {
    display: flex;

}

nav>.manu-ber>ul>li {
    list-style-type: none;
    margin-left: 20px;
}

nav>.manu-ber>ul>li>a {
    text-decoration: none;
    color: #323639;
    font-weight: 700;
    font-size: 18px;
}

/* -------------------
----End-navation---*/
/*--------------------
 Start-baner-section */
.baner-section {
    display: flex;
    justify-content: space-between;
}

.baner-section .baner-deteils h1 {
    font-size: 40px;
    transition:1s;
    transition-duration:2s;
}
.baner-section .baner-deteils h1:hover{
    color:blue;
    text-shadow:2px -3px 5px rgba(14, 231, 231, 0.651);    
}

.baner-section .baner-deteils p {
    width: 80%;
    font-size: 16px;
    color: #323639;
    font-weight: 600;
    padding: 30px 0px;
    line-height:2em;
    
}

.baner-section .baner-deteils>.banner-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-button {
    padding: 10px 20px;
    background-image: linear-gradient(rgba(0, 255, 255, 0.568),rgba(0, 0, 255, 0.678));
    border: .2px solid aqua;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
}
.baner-section .baner-deteils>.banner-button i{
   
    color:black;
}

/*--------------------
 End-baner-section */

/*--------------------
 Start-advertisement-section */
 .advertisement{
     display:flex;
     justify-content: space-evenly;
     align-items: center;
     padding:20px 0px;
     border-top:1px solid #E0E6ED;
     border-bottom:.2px solid#E0E6ED;
     
 }
 /*--------------------
 Start-products-section */
 .products-container{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap:40px;
 }
 .section-taitel{
     display:flex;
     justify-content: center;
     margin:50px 0px;
 }
 .product{
    height:80vh; 
    box-shadow:-2px -2px 3px 3px rgba(218, 211, 211, 0.541);
    border-radius:10px;
    padding:10px 20px;
 }
 .product-img{
     width:100%;
    
     margin-bottom:30px;
 }
 .product-deteils .product-name{
    margin-bottom:15px;
 }
 .product-deteils .product-price{
     color:gray;
     font-weight:300;
     margin-bottom:8px;
 }
 .product-deteils .star-icon{
     display:flex;
     margin-bottom:8px;
 }
 .product-deteils li{
     list-style:none;
     padding-right:5px;
     
 }
 .product-deteils li i{
     color:orange;
     font-size:14px;
 }
 .product-deteils .star-icon span{
     color:gray;
 }
 .product-deteils p{
     color:gray;
     font-weight: 600;
     width:100%;
 }
 .products-section .sea-more{
    width:100%;
    margin-top:30px;
 }
 .products-section .sea-more-button{
    border:none;
    display:flex;
    grid-gap:5px;
    font-size:16px;
    align-items: center;
    color:blue;
    float:right;
 }
 .sea-more-button i{
     color:blue;
     font-size:16px;
 }

 